/*  your css code here. If applicable */
body{
	border:1px solid rgb(0, 0, 0);
	padding:1px;
}

td:nth-child(2){
	text-align:center;
}
td:nth-child(1){
	text-align:left;
}
}
td:nth-child(1){
	text-align:left;
}
td:nth-child(3){
	text-align:right;
}
.green{
	background-color:green;
	height:10px;
}
.blue{
	background-color:blue;
	height:10px
}
content{
	text-align:center;
	align-items:center;
	justify-content:center;
}
