/*  your css code here. If applicable */
td:nth-child(2){
	text-align:center;
}
td:nth-child(1){
	text-align:left;
}
}
td:nth-child(1){
	text-align:left;
}
td:nth-child(3){
	text-align:right;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
